
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.85);
}

.wrapper {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    background: #fff;
    border: 1px solid #666;
    border-radius: 4px;
}

.inner {
    margin: 20px;
}
